/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


:root{
    --light: #ffffff;
    --dark: #312f2f;
    --gray: rgb(71, 69, 69);
    --light-gray: rgb(105, 102, 102);
    --light-dark: #444343;
    --bit-dark: #3f3e3e;

}

html{
    margin:0;
}

body{
    font-family: sans-serif;
    background: var(--light-dark);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar-nav{
    z-index: 1;
}


.sidebar-nav .sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--dark);
    color: var(--light);
    z-index: 1000;
    transition: all .5s ease;
    
}


.sidebar-nav .sidebar header{
    font-size: 22px;
    text-align: center;
    color: var(--light);
    line-height: 70px;
    user-select: none;
}

.sidebar-nav .sidebar .nav-menu{
    padding-top: 20px;
}

.sidebar-nav .sidebar .nav-menu .search-family .search{
    
    border-radius: 17px;
    background-color: var(--gray);
    padding: 5px 27px 5px 12px;
    margin-left: 17px;
    border: none;
    outline: none;
    color: var(--light)
}

.sidebar-nav .sidebar .nav-menu .search-family .search:focus{
    outline:none;
    border: none;
}

.sidebar-nav .sidebar .nav-menu .search-family .search-icon{
    position: relative;
    right: 30px;
    padding-top: 5px 0;
    
}

.sidebar-nav .sidebar .nav-menu ul{

    padding: 15px;
    padding-top: 40px;
   
    
 
}

.sidebar-nav .sidebar .nav-menu ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    color: var(--light);
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px var(--gray);
    transition: all ease-in-out .4s;
    cursor: pointer;
}



.sidebar-nav .sidebar .nav-menu ul li a:hover{
    box-shadow: 1px 1px 1px 1px var(--light-gray);
    cursor: pointer;
    text-decoration: none;
}

#check{
    display: none;
}

.movie-container{
    margin: 10px 0px;
}

.movie-container a img{
    border-radius: 10px;
  
}
.movie-container a:hover img{
    z-index: 1;
    opacity: 0.8;
    transition: all ease .2s;
}
.movie-container a:hover img:before{
    border: 1px solid var(--light);
    z-index: -1;
    background: var(--gray);
    
}

.movie-container .fa-star{
    color: yellow;
}

.movie-container .stars > span:last-child{
    display: none; 
}

.site-header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 500;
    background: var(--light-dark);
    padding: 35px 0px;
}

.site-header h5{
    position: absolute;
    right: 30px;
    top: 25px;
}


@media screen and (min-width: 649px ){
    
    .site-header{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 500;
        background: var(--light-dark);
        padding: 30px 0px;
    }

    .menu-bars{
        display: none;
    }

    .home{
        margin-left: 250px;
        padding: 70px 10px 50px 40px;
    }
    .movie-container{
        width: 300px;
        padding-right: 10px;
    }
    
    .movie-container img{
        width: 300px;
        height: 300px;
    }
    
}

@media screen and (max-width: 1222px ) and (min-width: 992px){
    
    
    .movie-container{
        width: 238px;
        padding-right: 10px;
        
    }
    
    .movie-container img{
        width: 235px;
        height: 235px;
    }
}




@media screen and (max-width: 930px ){
    .movie-container{
        width: 280px;
        padding-right: 10px;
    }
    
    .movie-container img{
        width: 280px;
        height: 280px;
    }

}

@media screen and (max-width: 880px ) and (min-width: 768px){
    .movie-container{
        width: 220px;
        padding-right: 10px;
        
    }
    
    .movie-container img{
        width: 220px;
        height: 220px;
    }

}


@media screen and (max-width: 648px ) and (min-width: 550px){
    .home{
        margin-left: 100px;
        padding: 50px 10px 50px 40px;
        
    }
    
    .movie-container{
        width: 300px;
        padding-right: 10px;
        
    }
    
    .movie-container img{
        width: 300px;
        height: 300px;
    }
}


@media screen and (max-width: 648px ){
    .sidebar-nav .sidebar{
        left: -250px;
        overflow-y: scroll;
        overflow-x: hidden; 
       
    } 
    .menu-bars{
        position: absolute;
    }
    
    .menu-bars label #btn, .menu-bars label #cancel{
        cursor: pointer;
        z-index: 1000;
    }
    
    .menu-bars label #btn{
        position: fixed;
        left: 25px;
        top: 25px;
        font-size: 35px;
        transition: all .2s ;
    }

    .menu-bars label #cancel{
        position: fixed;
        z-index: 1111;
        left: -195px;
        top: 17px;
        font-size: 22px;
        transition: all .5s ease;
        background: var(--light-dark);
        padding: 5px 10px;
        color: var(--light-gray);
        border-radius: 50%;

    }

    #check:checked ~ .sidebar-nav .sidebar{
        left: 0;
    }
    #check:checked ~ .menu-bars label #btn{
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ .menu-bars label #cancel{
        left: 195px;
    }
    .home{
        padding: 100px 30px 50px 50px;
        
    }
    .movie-container{
        width: 280px;
        padding-right: 10px;
    }
    
    .movie-container img{
        width: 280px;
        height: 280px;
    }
}
@media screen and (max-width: 350px ){
    .movie-container{
        width: 220px;
        padding-right: 10px;
    }
    
    .movie-container img{
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 240px ){
    .movie-container{
        width: 150px;
        
    }
    
    .movie-container img{
        width: 150px;
        height: 150px;
    }
}


/* @media screen and (min-width: 501px ) */
.home{
    z-index : -1000;
    background: var(--light-dark);
    color: var(--light);
    
}



.no-result{
    padding-top: 50px;
}


.synopsis{
    padding-top: 20px;
}

.download-btns{
    display: inline-flex;
}

.download-btn{
    background: var(--bit-dark);
    color: var(--light);
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all ease-in .2s;
}

.download-btn:hover{
    background: var(--dark);
    color: var(--light);
    text-decoration: none;
    
}

.screenshots{
    padding-top: 50px;
}

.screenshot{
    
    padding: 20px 0;
}

.fa-caret-right{
    margin-top: 12px;
}

.genre-container{
    padding: 40px 0px;
    background: var(--dark);
    color: var(--light);
    transition: all ease .2s;
    cursor: pointer;
}

.genre-container .row a{
    color: var(--light);
    text-align: center;
}

.genre-container:hover a{
    text-decoration: none;
}


.genre-container:hover{
    opacity: 0.8;
    text-decoration: none;
}
